/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* { margin: 0; padding: 0; } 

html {
  width: 100%;
  height: 100%;
  
  /* Font options */
  font-size: 110%;
  font-family: 'Source Sans Pro', sans-serif;
  
  background-color: black;
}

p img {
  max-height: 100px;
}

#add-comment {
  width: 50%;
  padding: 1rem;
  border: 4px solid white;
  background-color: #333;
  color: #eee;
  position: relative;
  border-radius: 1rem;
  margin: 0 auto;
  box-shadow: 0 1rem 1.5rem 0.2rem rgba(0, 0, 0, 0.4);
}

#add-comment::after,
#add-comment::before {
  content:"";
  border: 1rem solid transparent;
  border-bottom-color: white;
  position: absolute;
  top: -2rem; 
  left: 50%;
}

#add-comment::after {
  border-bottom-color: #333;
  top: -1.7rem;  
}

#add-comment textarea {
  width: 100%;
  height: 10rem;
}

aside {
  position: relative;
  float: right;
  width: 20rem;
  -moz-box-sizing: border-box;
  padding: 1rem;  
}

aside .comment {
  color: white;
  background-color: rgba(21, 21, 21, 0.8);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.comment menu {
  text-align: right;
}

#content {
  position: relative;
  width: calc(100% - 20rem);
  background-color: rgba(255, 255, 255, 0.9);

  color: #333;
  border-right: solid #444 1px;
  
  box-shadow: 0 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  z-index: 10;
  overflow: auto;
}

#content h1 {
  color: white;
  padding: 1rem;
  font-size: 3rem;
  background-color: #C52F24;
  text-shadow: 1px 1px 2px black;
  text-align: right;
}

#content h1 a {
  color: white;
  text-decoration: none;
}

#content h2 {
  color: black;
  background-color: #D5E9F6;
  padding: 1rem;
  text-align: right;
}

#content p {
  text-align: justify;
  margin-bottom: 0.5rem;
}

#content p img {
  float: left;
  margin-right: 0.5rem;
  min-width: 50px;
}


.spining-bg {
  width: 200%;
  height: 200%;
  position: fixed;
  left: -50%; top: -50%;

  /* Background options */
  background: url(bg.jpg);
  background-size: 100% 90%;
  
  -moz-animation: spin 3600s linear 0s infinite;
}

@-moz-keyframes spin {
  from { transform: rotate(0def) } to { transform: rotate(360deg) }
}

footer {
  background-color: black;
  padding: 0.5rem 1rem;
  padding-bottom: 2rem;
  color: white;
  overflow: hidden;
}

footer > p {
  width: calc(50% - 0.8rem);
  float: left;
}

footer > p ~ p {
  float: right;
}

.pagination a,
.pagination .current,
.button {
  display: inline-block;
  padding: 0.2rem 0.4rem;
  margin-bottom: 0.5rem;
  border: #999 solid 1px;
  border-radius: 0.2rem;
  background: -moz-linear-gradient(to bottom, #808080, #666 40%, #666 60%, #808080);
  color: #eee;
  text-shadow: 0 1px black;
  text-decoration: none;
}

.pagination a:hover,
.pagination .current,
.button:hover {
  background: #333;
  color: #eee;
}

.pagination .disabled {
  display: none;
}

#show-post p {
  text-align: justify;
  margin-bottom: 1rem;
}

#show-post menu {
  text-align: right;
}

#new-post nav,
#edit-post nav {
  margin-top: 1rem;
}

input {
  font-size: 1rem;
}

#new-post textarea,
#edit-post textarea {
  width: 100%;
  height: 31em;
}

#content > section {
  margin: 2rem;
}

#post-list li {
  text-align: left;
  list-style: none;
  background-color: #ddd;
  padding: 0.2rem 0.5rem;
  margin-bottom: 0.5rem;

  /* Allow floating elements while keeping filled the maximum width */
  width: calc(100% - 1rem);
  display: inline-block;
}

#post-list li a {
  text-decoration: none;
  font-style: italic;
  
  /* Embedded text */
  color: #222;
  font-size: 1.1rem;
  font-weight: 800;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
}

#post-list li a:hover {
  text-decoration: underline;
}

/* The menu is right aligned */
#post-list li menu {
  float: right;
}

/* Its links are squares with a inverse color effect when hovered */
a.icon {
  background-color: #ccc;
  text-align: center;
  color: #333;
  text-decoration: none;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  padding: 0.1rem;
  margin: 0.1rem;
  border: 1px solid #333;
}

a.icon:hover {
  color: white !important;
  background-color: #333;
  text-decoration: none !important;
}
